/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Futura PT', sans-serif;*/

body{
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    color: #424F57;
    text-align: center;
}

/* Header */
.header{
    position: absolute;
    z-index: 2;
    top: 25px;
    width: 100%;
    background: #fff;
}
  

.header-container{
    max-width: 1028px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 37px;

}
.header-logo{
    font-weight: 300;
    font-size: 36px;
    line-height: 51px;
    color: #424F57;
    align-items: center;
    margin-right: 152px;
}

.header-logo span{
    text-transform: uppercase;
    color: #14AFCA;
    font-weight: 900;
}

.header-list{
    display: flex;
    justify-content: space-between;
    gap: 74px;
    text-transform: uppercase;

}

.header-list-link{
    color: #3E4C4E;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;

}

.active{
    color: #14AFCA;
}

/* *********   MAIN  ******** */
/* Slogan */
.slogan{
    background-image: url(../img/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
}

.slogan::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slogan-content{
    display: block;
    margin: 0 auto;
    font-family: 'FuturaBT';
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 996px; 
}
.slogan-content span{
    display: block;
}

/* WHAT */
.what{
    /* padding: 122px 20px 90px; */
    margin-left: auto;
    height: 200px;
    margin-right: auto;
    text-align: center;
    position: relative;
    opacity: 100%;
}
.what-container{
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
}

.what:before {
    content: '';
    position: absolute;
    top: -102px;
    left: 0;
    height: 201%;
    width: 50%;
    background: #fff;
    transform: skew(0deg, 5deg);
    z-index: 2;
  }

  .what:after {
    content: '';
    position: absolute;
    top: -102px;
    right: 0;
    height: 201%;
    width: 50%;
    background: #fff;
    transform: skew(0deg, -5deg);
    z-index: 2;
  }
  
.section-title{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px; 
    color: #14AFCA;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;
}

.section-subtitle{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.9px;
    text-align: center;
    z-index: 3;
}
.section-content{
    position: relative;
    line-height: 30px;
    z-index: 3;
}

/* Companies */
.companies{
    padding: 250px 210px 100px;
    background-image: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.companies h3{
    color: #FFFFFF;
}

.companies::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.companies-list{
    width: 998px;
    display: grid;
    margin: 30px auto 0;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 100px;
}

.name-adobe{
    position: relative
}

.adobe-1{
    position: absolute;
    top: 40px;
    right: 35px;
    z-index: 2;
}

.adobe-2{
    position: absolute;
    top: 29px;
    left: 24px;
    z-index: 2;
}

.adobe-3{
    width: 100%;
    height: 100%;
}

/* MEEt US */
.meet-us{
    padding-top: 160px;
    padding-bottom: 40px;
   position: relative;
}

.meet-us:before {
    content: '';
    position: absolute;
    bottom: -102px;
    left: 0;
    height: 40%;
    width: 50%;
    background: #fff;
    transform: skew(0deg, 5deg);
    z-index: 2;
  }

  .meet-us:after {
    content: '';
    position: absolute;
    bottom: -102px;
    right: 0;
    height: 40%;
    width: 50%;
    background: #fff;
    transform: skew(0deg, -5deg);
    z-index: 2;
  }
  

.meet-us-list{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    max-width: 1028px;
    margin: 30px auto 0;
}

.meet-us-item{
    width: 310px;
    text-align: center;
   
}

.meet-us-item img{
    margin-left: auto;
    margin-right: auto;
}

.meet-item-text{
    padding-right: 8px;
    padding-left: 8px;
    line-height: 28px;
}

/* testimonials */
.testimonials{
    padding-top: 255px;
    padding-bottom: 143px;
    background-image: url(../img/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.testimonials-content-wrap{
    max-width: 907px;
    margin: 0 auto;
    position: relative;
}

.testimonials::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.testimonials h3{
    color: #fff;
}

.testimonials .section-content{
    font-family: 'OpenSans';
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 48px;
    margin-bottom: 28px;
}

.section-content-autor{
    font-family: 'OpenSans';
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    position: absolute;
    bottom: -40px;
    right: 145px;
    margin-top: 0;
    margin-bottom: 0;
}

/* FOOTER */

.why{
    position: relative;
}

.why:before {
    content: '';
    position: absolute;
    top: -102px;
    left: 0;
    height: 40%;
    width: 50%;
    background: #fff;
    transform: skew(0deg, 5deg);
    z-index: 2;
  }

  .why:after {
    content: '';
    position: absolute;
    top: -102px;
    right: 0;
    height: 40%;
    width: 50%;
    background: #fff;
    transform: skew(0deg, -5deg);
    z-index: 2;
  }
  
  .footer-container{
    max-width: 816px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 105px;
    padding-bottom: 96px;
  }

.why .section-subtitle{
    margin-bottom: 0;
}
.why-text{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    margin-bottom: 0;
}


footer{
    margin-bottom: 88px;
}
.footer{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #3D3C3C;
    margin-top: 96px;
    max-width: 416px;
    margin-right: auto;
    margin-left: auto;
}

.footer span{
    font-weight: 700;
    font-size: 16px;
}