body{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.container{
    background-image: url(../img/background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header */
.header{
    padding: 18px 79px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.header::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo-link{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
   text-align: center;
   transition: .4s;
}

.logo-link:hover{
color: #01813F;
}

.header svg{
    display: inline-block;
    margin-right: 25px;
}
.navbar svg:hover path {
    fill: #01813F;
    transition: .4s;
    cursor: pointer;
}
  
.navbar-text{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: top;
}

.navbar-text a:hover{
    color: #01813F;
    transition: .4s;
}

.navbar-text::before{
    content: "";
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
    height: 19px;
    width: 1px;
    margin-right: 27px;
    position: relative;
    top: 4px;
}
/* Main */

.form-wrap{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box{
    display: block;
    max-width: 444px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 38px;
    align-self: center;
    position: relative;
}

.sign-up-box::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 31px;
    background: #3CB878;;
}
.form-item-wrap{
    display: flex;
    justify-content: space-between;
}

.title-sign-up{
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.title-login{
    color: #3CB878;
    align-self: center;
}

.title-login:hover{
    text-decoration: underline;
    color: #01813F;
}

.social-list{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.social-item{
    width: 160px;
    border-radius: 3px;
}

.social-link{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 14px 22px 14px 16px;
}

.social-fb{
    background: #305DB8;
}

.social-fb:hover{
    background: #022263;
    transition: .4s;
}

.social-g{
    background: #DF4A32;
}

.social-g:hover{
    background: #AB1F09;
    transition: .4s;
}

.social-fb-text, .social-g-text{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 38px;
    align-self: center;
    position: relative;
}

.social-fb-text::before{
    content: "";
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    display: block;
    width: 1px;
    height: 28px;
    position: absolute;
    left: -18px;
    top: -7px;
}

.social-g-text::before{
    content: "";
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    display: block;
    width: 1px;
    height: 28px;
    position: absolute;
    left: -30px;
    top: -7px;
}

.form-box{
    border-top: 1px solid #F2F2F2;
    position: relative; 
}

.form-box::after{
    content: "or";
    color:  #848484;
    position: absolute;
 line-height: 14px;
 padding-left: 5px;
 padding-right: 5px;
    top: -9px;
    left: 46%;
    z-index: 1;
    background-color: #fff;
}
.form-box input{
    display: block;
    width: 100%;
    padding: 15px 100px 15px 20px;
    margin-top: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

::placeholder{
    color: #BEBEBE;
}
input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline:none;
}

input:focus::placeholder{
    color: #434343;
}

input[name=confirmpass]{
    margin-bottom: 12px;
}

.form-box input[type=checkbox]{
display: none;
}

.checkbox-input-mark{
    display: none;
}
.checkbox-input-label{
    position: relative;
}

.checkbox-input-label:before {
    content: " ";
    color: #3CB878;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 1px solid #F2F2F2;
    border-image: initial;
    vertical-align: middle;
  }


  .checkbox-input-mark:checked + .checkbox-input-label:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.5L7 14.5L15 1' stroke='%233CB878' stroke-width='2'/%3E%3C/svg%3E%0A");
  }
  
  .checkbox-input-mark:checked + .checkbox-input-label:hover:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.5L7 14.5L15 1' stroke='rgba(1, 129, 63, 1)' stroke-width='2'/%3E%3C/svg%3E%0A");
    cursor: pointer;
    transition: .4s;
  }

.terms_cond{
color: #3CB878;
}

.terms_cond:hover{
    text-decoration: underline;
    color: #01813F;
    transition: .4s;
}
input[type=submit]{
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 16px 99px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

input[type=submit]:hover{
    background: #01813F;
    cursor: pointer;
    transition: .4s;
}

/* .title-sign-up::before{
    content: '\2714';
    }


    .title-sign-up:hover::before{
        cursor: pointer;
        color: red;
    } */