html{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 1192px;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #484848;
    text-align: center;
    background-color: #FAFAFA;
    text-transform: uppercase;
}

table{
    border-left: 20px solid #3A4965;
    border-top: 22px solid #3A4965;
    border-right: 29px solid #3A4965;
    border-bottom: 31px solid #3A4965;
    border-collapse: collapse;
}
td{
    border: 2px solid #E3E3E3;
}
.colomn-one{
    border-right: #bdb8b8;
    width: 313px;
}

.colomn-table-one{
    width: 283px;
}
/* THEAD */
.head-first-row th:nth-child(1) {
    font-size: 18px;
    line-height: 28px;
    padding: 51px 35px 48px;
    border: 0;
    height: 159px;
}

.pricing-plan{
    font-size: 30px;
    line-height: 28px;
    display: block;
    
}

.head-first-row th:nth-child(2)  {
   background: #89C331;
   font-size: 24px;
    color: #FFFFFF;
}

.head-first-row th:nth-child(3) {
    background: #F04A56;
    font-size: 30px;

    color: #FFFFFF;
    border: 0;
}

.head-first-row th:nth-child(4) {
    background: #20807C;
    font-size: 24px;
    color: #FFFFFF;
    border: 0;
}

/* TBODY */
.head-second-row td{
    padding: 26px 140px 20px 33px;

}


tbody tr{
    font-size: 16px;
    line-height: 16px;
    height: 72px;
}
.second-row-price{
font-size: 60px;
font-weight: 700;
line-height: 28px;
height: 50px;
position: relative;
}

.second-row-cent{
    font-size: 24px;
    font-weight: 700;
    position: absolute;
   top: 0;
    left: 136px;
}

.second-row-per-month{
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 141px;
}

.storage td{
    background-color: #F2F2F2;
}

.storage td:nth-child(1)::before{
    content: url("data:image/svg+xml,%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5714 9.57143C14.5714 10.0402 14.183 10.4286 13.7143 10.4286H10.2857C9.81696 10.4286 9.42857 10.0402 9.42857 9.57143C9.42857 9.10268 9.81696 8.71428 10.2857 8.71428H13.7143C14.183 8.71428 14.5714 9.10268 14.5714 9.57143ZM22.2857 7C22.2857 6.53125 21.8973 6.14286 21.4286 6.14286H2.57143C2.10268 6.14286 1.71429 6.53125 1.71429 7V19.8571C1.71429 20.3259 2.10268 20.7143 2.57143 20.7143H21.4286C21.8973 20.7143 22.2857 20.3259 22.2857 19.8571V7ZM23.1429 0.999999C23.1429 0.531249 22.7545 0.142856 22.2857 0.142856H1.71429C1.24554 0.142856 0.857143 0.531249 0.857143 0.999999V4.42857C0.857143 4.89732 1.24554 5.28571 1.71429 5.28571H22.2857C22.7545 5.28571 23.1429 4.89732 23.1429 4.42857V0.999999Z' fill='%23848484'/%3E%3C/svg%3E%0A");
display: inline-block;
margin-right: 5px;
}

.bandwidth td{
    background-color: #E3E3E3;
}

.bandwidth td:first-child::before{
    content: url("data:image/svg+xml,%3Csvg width='27' height='19' viewBox='0 0 27 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7874 10C17.7874 10.2277 17.5999 10.4286 17.3588 10.4286H14.3588V15.1429C14.3588 15.3705 14.1579 15.5714 13.9302 15.5714H11.3588C11.1311 15.5714 10.9302 15.3705 10.9302 15.1429V10.4286H7.93025C7.68917 10.4286 7.50167 10.2411 7.50167 10C7.50167 9.87946 7.55525 9.77232 7.6356 9.67857L12.3365 4.97768C12.4169 4.89732 12.5374 4.85714 12.6445 4.85714C12.7651 4.85714 12.8722 4.89732 12.9526 4.97768L17.6669 9.69196C17.7472 9.77232 17.7874 9.89286 17.7874 10ZM26.3588 13.8571C26.3588 11.4732 24.7115 9.39732 22.3811 8.84821C22.7427 8.29911 22.9302 7.65625 22.9302 7C22.9302 5.11161 21.3901 3.57143 19.5017 3.57143C18.6847 3.57143 17.8945 3.86607 17.2785 4.40178C16.2204 1.83036 13.716 0.142856 10.9302 0.142856C7.14007 0.142856 4.0731 3.20982 4.0731 7C4.0731 7.1875 4.0865 7.375 4.09989 7.57589C1.99721 8.55357 0.644531 10.6696 0.644531 13C0.644531 16.308 3.3365 19 6.64453 19H21.216C24.0552 19 26.3588 16.6964 26.3588 13.8571Z' fill='%23848484'/%3E%3C/svg%3E%0A");
    display: inline-block;
margin-right: 5px;
}

.email td:first-child::before{
    content: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 6.9375C23.5982 7.37946 23.1429 7.76786 22.6607 8.10268C20.4241 9.61607 18.1741 11.1429 15.9911 12.7232C14.8661 13.5536 13.4732 14.5714 12.0134 14.5714H12H11.9866C10.5268 14.5714 9.13393 13.5536 8.00893 12.7232C5.82589 11.1295 3.57589 9.61607 1.35268 8.10268C0.857143 7.76786 0.401786 7.37946 0 6.9375V17.5714C0 18.75 0.964286 19.7143 2.14286 19.7143H21.8571C23.0357 19.7143 24 18.75 24 17.5714V6.9375ZM24 3C24 1.82143 23.0223 0.857142 21.8571 0.857142H2.14286C0.709821 0.857142 0 1.98214 0 3.29464C0 4.51339 1.35268 6.02678 2.30357 6.66964C4.37946 8.11607 6.48214 9.5625 8.55804 11.0223C9.42857 11.625 10.9018 12.8571 11.9866 12.8571H12H12.0134C13.0982 12.8571 14.5714 11.625 15.442 11.0223C17.5179 9.5625 19.6205 8.11607 21.7098 6.66964C22.8884 5.85268 24 4.5 24 3Z' fill='%23848484'/%3E%3C/svg%3E%0A");
    margin-right: 5px;
}

.support{
    background-color: #E3E3E3;
}

.support td:first-child::before{
    content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0.42857C5.87054 0.42857 0.5 5.79911 0.5 12.4286C0.5 19.058 5.87054 24.4286 12.5 24.4286C19.1295 24.4286 24.5 19.058 24.5 12.4286C24.5 5.79911 19.1295 0.42857 12.5 0.42857ZM12.5 2.14286C14.2411 2.14286 15.8884 2.58482 17.3348 3.34821L14.7366 5.94643C14.0268 5.70536 13.2902 5.57143 12.5 5.57143C11.7232 5.57143 10.9732 5.70536 10.2634 5.94643L7.66518 3.34821C9.11161 2.58482 10.7589 2.14286 12.5 2.14286ZM3.41964 17.2634C2.65625 15.817 2.21429 14.1696 2.21429 12.4286C2.21429 10.6875 2.65625 9.04018 3.41964 7.59375L6.01786 10.192C5.77679 10.9018 5.64286 11.6384 5.64286 12.4286C5.64286 13.2054 5.77679 13.9554 6.01786 14.6652L3.41964 17.2634ZM12.5 22.7143C10.7589 22.7143 9.11161 22.2723 7.66518 21.5089L10.2634 18.9107C10.9732 19.1518 11.7232 19.2857 12.5 19.2857C13.2902 19.2857 14.0268 19.1518 14.7366 18.9107L17.3348 21.5089C15.8884 22.2723 14.2411 22.7143 12.5 22.7143ZM12.5 17.5714C9.66071 17.5714 7.35714 15.2679 7.35714 12.4286C7.35714 9.58928 9.66071 7.28571 12.5 7.28571C15.3393 7.28571 17.6429 9.58928 17.6429 12.4286C17.6429 15.2679 15.3393 17.5714 12.5 17.5714ZM18.9821 14.6652C19.2232 13.9554 19.3571 13.2054 19.3571 12.4286C19.3571 11.6518 19.2232 10.9018 18.9821 10.192L21.5804 7.59375C22.3438 9.04018 22.7857 10.6875 22.7857 12.4286C22.7857 14.1696 22.3438 15.817 21.5804 17.2634L18.9821 14.6652Z' fill='%23848484'/%3E%3C/svg%3E%0A");
margin-right: 5px;
}

.products td:first-child::before{
    content: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20.2455V10.1741L20.5714 7.05357V15.5714L12 20.2455ZM11.1429 8.66071L1.79464 5.25893L11.1429 1.85714L20.4911 5.25893L11.1429 8.66071ZM22.2857 5.28571C22.2857 4.5625 21.8304 3.91964 21.1607 3.67857L11.7321 0.249999C11.5446 0.183035 11.3438 0.142856 11.1429 0.142856C10.942 0.142856 10.7411 0.183035 10.5536 0.249999L1.125 3.67857C0.455357 3.91964 0 4.5625 0 5.28571V15.5714C0 16.2009 0.348214 16.7768 0.897321 17.0714L10.3259 22.2143C10.5804 22.3616 10.8616 22.4286 11.1429 22.4286C11.4241 22.4286 11.7054 22.3616 11.9598 22.2143L21.3884 17.0714C21.9375 16.7768 22.2857 16.2009 22.2857 15.5714V5.28571Z' fill='%23848484'/%3E%3C/svg%3E%0A");
    margin-right: 5px;
}

.users{
    background-color: #E3E3E3;
}
.users td:first-child::before{
    content: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.0865 12.4286C7.39007 11.4241 7.00167 10.2187 7.00167 9C7.00167 8.70536 7.02846 8.41071 7.06864 8.11607C6.49275 8.31696 5.90346 8.42411 5.28739 8.42411C3.47935 8.42411 2.0865 7.28571 1.80525 7.28571C0.104353 7.28571 0.144531 10.9286 0.144531 12.0134C0.144531 13.5 1.40346 14.1429 2.74275 14.1429H4.53739C5.43471 13.0714 6.69364 12.4687 8.0865 12.4286ZM22.4302 20.9598C22.4302 17.933 21.7204 13.2857 17.7963 13.2857C17.341 13.2857 15.6802 15.1473 13.0017 15.1473C10.3231 15.1473 8.66239 13.2857 8.20703 13.2857C4.28292 13.2857 3.5731 17.933 3.5731 20.9598C3.5731 23.1295 5.00614 24.4286 7.149 24.4286H18.8544C20.9972 24.4286 22.4302 23.1295 22.4302 20.9598ZM8.71596 3.85714C8.71596 1.96875 7.17578 0.42857 5.28739 0.42857C3.399 0.42857 1.85882 1.96875 1.85882 3.85714C1.85882 5.74553 3.399 7.28571 5.28739 7.28571C7.17578 7.28571 8.71596 5.74553 8.71596 3.85714ZM18.1445 9C18.1445 6.16071 15.841 3.85714 13.0017 3.85714C10.1624 3.85714 7.85882 6.16071 7.85882 9C7.85882 11.8393 10.1624 14.1429 13.0017 14.1429C15.841 14.1429 18.1445 11.8393 18.1445 9ZM25.8588 12.0134C25.8588 10.9286 25.899 7.28571 24.1981 7.28571C23.9169 7.28571 22.524 8.42411 20.716 8.42411C20.0999 8.42411 19.5106 8.31696 18.9347 8.11607C18.9749 8.41071 19.0017 8.70536 19.0017 9C19.0017 10.2187 18.6133 11.4241 17.9169 12.4286C19.3097 12.4687 20.5686 13.0714 21.466 14.1429H23.2606C24.5999 14.1429 25.8588 13.5 25.8588 12.0134ZM24.1445 3.85714C24.1445 1.96875 22.6044 0.42857 20.716 0.42857C18.8276 0.42857 17.2874 1.96875 17.2874 3.85714C17.2874 5.74553 18.8276 7.28571 20.716 7.28571C22.6044 7.28571 24.1445 5.74553 24.1445 3.85714Z' fill='%23848484'/%3E%3C/svg%3E%0A");
    margin-right: 5px;
}

/* TFOOT */
tfoot td{
    padding-top: 29px;
    padding-bottom: 29px;
}

tfoot td:first-child{
    background-color: #DDDDDD;
}
.tfoot-link{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
}


.tfoot-link-1 a{
    padding: 20px 44px;
    border-radius: 4px;
    background-color: #484848;
    position: relative;
}

.tfoot-link-1 a::after{
    content: url("data:image/svg+xml,%3Csvg width='192' height='9' viewBox='0 0 192 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H192V4C192 6.76142 189.761 9 187 9H5C2.23858 9 0 6.76142 0 4V0Z' fill='%23404040'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 38px;
    left: 0px;
}

.tfoot-link-2 a{
    background-color: #89C331;
    padding: 20px 58px;
    border-radius: 4px;
    position: relative;
}
.tfoot-link-2 a::after{
    content: url("data:image/svg+xml,%3Csvg width='192' height='9' viewBox='0 0 192 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H192V4C192 6.76142 189.761 9 187 9H5C2.23858 9 0 6.76142 0 4V0Z' fill='%2379B027'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 38px;
    left: 0px;
}

.tfoot-link-3 a{
    background-color: #F04A56;
    padding: 20px 58px;
    border-radius: 4px;
    position: relative;
}
.tfoot-link-3 a::after{
    content: url("data:image/svg+xml,%3Csvg width='192' height='9' viewBox='0 0 192 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H192V4C192 6.76142 189.761 9 187 9H5C2.23858 9 0 6.76142 0 4V0Z' fill='%23DF3A46'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 38px;
    left: 0px;
}

.tfoot-link-4 a{
    background-color: #20807C;
    padding: 20px 58px;
    border-radius: 4px;
    position: relative;
}
.tfoot-link-4 a::after{
    content: url("data:image/svg+xml,%3Csvg width='192' height='9' viewBox='0 0 192 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H192V4C192 6.76142 189.761 9 187 9H5C2.23858 9 0 6.76142 0 4V0Z' fill='%2316736F'/%3E%3C/svg%3E ");
    position: absolute;
    top: 38px;
    left: 0px;
}


/* Second TABLE */
.container-second{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
}

.container-second thead{
    border-left: 20px solid #3A4965;
    border-top: 22px solid #3A4965;
    border-right: 29px solid #3A4965;
    border-bottom: 10px solid #3A4965;
    border-collapse: collapse;
} 

.second-table-col-1{
    width: 201px;
}

.second-table-col {
    width: 160px;
}


.row-color{
    background-color: #E3E3E3;
}

.second-thead-link th>img {
    margin-right: auto;
    margin-left: auto;
}

.second-thead-link-1{
    padding-top: 25px;
    font-weight: 700;
}

.second-pricing-plan{
    font-size: 20px;
    line-height: 20px;
    display: block;
    padding-bottom: 34px;
}

.second-table-row-price{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    padding-top: 23px;
    padding-bottom: 24px;
    font-weight: 700;
}

.row-price-baks{
    font-size: 36px;
    position: absolute;
    top: 55px;
    left: 12px;
}
.row-price-cent{
    font-size: 18px;
    position: absolute;
    top: 45px;
    left: 67px;
}

.row-price-per-month{
    font-size: 14px;
    position: absolute;
    top: 53px;
    left: 92px;
}

.second-table-btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 36px;
    background: #414141;
    border-radius: 5px;
    margin-top: 45px;
    position: relative;
}

.second-table-btn::after {
content: url("data:image/svg+xml,%3Csvg width='144' height='5' viewBox='0 0 144 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.999955 -0.00011003H143C145.761 -0.00011003 148 2.23848 148 4.99989V6.99996C148 9.76137 145.761 12 143 12H0.999955C-1.76152 12 -4.00004 9.76137 -4.00004 6.99996V4.99989C-4.00004 2.23848 -1.76152 -0.00011003 0.999955 -0.00011003Z' fill='%23343434'/%3E%3C/svg%3E%0A");
position: absolute;
top: 25px;
left: 2px;
}

.row-price-bgc-1{
    background-color: #89C331;
}

.row-price-bgc-2{
    background-color: #F04A56;
}

.row-price-bgc-3{
    background-color: #20807C;
}