.twit{
    margin: 10px 20px;
    background-color: rgb(61, 67, 67);
    color: #ffffff;
    border-radius: 10px;
    position: relative;
}

.twit-wrapper{
    padding: 10px 25px;
}
.twit-author{
  
    margin-top: 0;
}

.twit-email{
  font-size: 14px;
  display: block;

}

.twit-btn{
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
}