body{
    background-color: #191919;
    
}
.container{
    padding-top: 37px;
    padding-bottom: 238px;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
                           
}

.container-inner{
    max-width: 1460px;
    margin: 0 auto; 
}


/* Header */
.header{
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-btn{
    border: 1px solid #E4B564;
}

.header-btn-tel{
display: inline-block;
padding-left: 26px;

}

.header-btn-text{
    color:#E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    margin: 0;
    padding: 10px 25px 10px 10px;
}

/* Main */

.section-title{
    font-size: 50px;
    margin: 0;
    line-height: 28px;
}

/* heating-network" */

.heating-network{
    padding-top: 120px;
    margin-bottom: 160px;
    /* background-image: url(../img/header-bg.jpeg);
    /* background-attachment: fixed; */
}


.heating-network-text{
    max-width: 1182px;
    line-height: 28px;
    margin-top: 41px;
    margin-bottom: 41px;
}

.heating-network-services{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(468px, 1fr) minmax(468px, 1fr);
    gap: 30px;
    opacity: 95%;
}

.hn-service-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 28px;
    text-align: center;
}
.hn-service-1{
    grid-area: 1 / 1 / 2 / 3;   
    background-color: #634F2C; 
}

.hn-service-2{
    grid-area: 1 / 3 / 2 / 5;
    background-color: #B4A385;
}

.hn-service-2 a{
    margin-left: 44px;
    margin-right: 43px;
}

.hn-service-3{
    grid-area: 1 / 5 / 2 / 7; 
    background-color: #E4B564;
}

.hn-service-4{
    grid-area: 2 / 1 / 3 / 4;
    background-color: #635A4A;
}

.hn-service-5{
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D;
}

/* Vehicles-park */
.vehicles-park{
    margin-bottom: 190px;
    /* background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed; */
}

.vehicles-park-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    max-height: 910px;
    margin-top: 94px;
    margin-bottom: 0;
}

.vehicles-park-list li{
    min-width: 465px;
    padding-top: 45px;
    padding-left: 50px;
}

.vehicle-link{
line-height: 25px;
}

.vehicle-1{
    background-color: rgb(5%, 5%, 5%, 0.9);
    min-height: 313px;
}

.vehicle-2{
    background-color: rgb(12%, 12%, 12%, 0.9);
    min-height: 560px;
}

.vehicle-3{
    background-color:rgb(14%, 14%, 14%, 0.9);
    min-height: 439px;
}

.vehicle-4{
    background-color:rgb(89%, 71%, 39%, 0.9);
    min-height: 405px;
    
}
.vehicle-4 a{
    color:  rgb(0%, 0%, 0%, 0.9);
}

.vehicle-5{
    background-color: rgb(12%, 12%, 12%, 0.9);
    min-height: 255px;
}

.vehicle-6{
    background-color: rgb(5%, 5%, 5%, 0.9);
    min-height: 313px;
}

.vehicle-7{
    background-color: rgb(4%, 4%, 4%, 0.9);
    min-height: 277px;
}

/* Clients-Project */
.projects-wrap{
    background-color: #0E0E0E;
}

.clients-projects{
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 161px;
    /* background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed; */
}

.clients-projects-header{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 60px;
}

.clients-projects-btn{
    border: 1px solid #E4B564;
}

.clients-projects-btn-text{
    color:#E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.clients-projects-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(391px, 1fr) minmax(391px, 1fr);
    margin-top: 0;
    margin-bottom: 0;
}
.clients-projects-list>li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 28px;
    text-align: center;
}



.clients-projects-item-1, .clients-projects-item-6{
    background-color: rgba(99, 79, 44, 0.9);
}

.clients-projects-item-2{
    background-color: rgba(232, 210, 171, 0.76);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-projects-item-2 p{
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
    text-align:center;

}

.item-imgbottom{
    margin-bottom: 16px;
}

.clients-projects-item-2 p span{
    font-weight: 400;
}


.clients-projects-item-3{
background-color: rgba(228, 181, 100, 0.9);;
}

.clients-projects-item-4{
    background-color: rgba(99, 90, 74, 0.9);
}

.clients-projects-item-5{
    background-color: rgb(69%, 55%, 30%, 0.9);
}
