.container {
  margin: 50px auto;
  width: 960px;
  height: 540px;
  position: relative;
}

.img {
  display: none;
  width: 100%;
  height: 100%;
}

.active {
  display: block;
}

.btn {
  padding: 20px 20px;
  background-color: rgb(91, 110, 231);
  color: aliceblue;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(32, 194, 205);
}

.prev {
  position: absolute;
  left: -200px;
  top: 40%;
}

.next {
  position: absolute;
  right: -165px;
  top: 40%;
}
