html,
body {
  box-sizing: border-box;
}

.container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(8, 30px);
  gap: 1px;
  justify-content: center;
  position: relative;
}

.grid-item {
  height: 30px;
  background-color: antiquewhite;
  border: 1px solid #000;
  border-collapse: separate;
  display: flex;
  align-items: center;
  justify-content: center;
}

.res {
  text-align: center;
  font-size: 20px;
  top: -10px;
  left: calc(50% - 75px);
  position: absolute;
}

.res span {
  color: red;
  text-decoration: underline;
}

.restart {
  top: 48px;
  position: absolute;
  left: calc(50% - 75px);
  padding: 10px 20px;
  border: 1px solid rgb(116, 107, 107);
  border-radius: 5px;
  background-color: rgb(176 232 181);
}

.game-over{
  padding: 15px 25px;
  background-color: rgba(224, 135, 135, 0.9 );
  border-radius: 10px;
  color: aliceblue;
  position: absolute;
  left: calc(50% - 72px);
  top: 188px;
  text-transform: uppercase;
}
/* .grid-item::after{
    content: "\2691";
    z-index: -1;
} */

/* .flag{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
} */
