.footer {
    padding-top: 65px;
    padding-bottom: 65px;
    background: $footer-bgc;
    @media (max-width: 993px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: 480px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  
  &__container{
    @include flexcenter;
    flex-direction: column;
  }

  &__title{
    color: $titles-color-white;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  &__subtitle{
    text-align: center;
    width: 80%;
    margin-top: 20px;
    line-height: 28px;
    color: $footer-text-color;
    @media (max-width: 480px) {
      width: 100%;
      font-size: 14px;
      margin-top: 8px;
    }
  }

  &__social-links {
    margin-top: 40px;
    display: flex;
    gap: 5px;
    @media (max-width: 480px) {
      margin-top: 25px;
    }
  }
  }

  .footer__contacts {
    margin-top: 35px;
    line-height: 26px;
    font-size: 16px;
    color: $footer-text-color;
    @media (max-width: 720px) {
      font-size: 14px;
    }
    @media (max-width: 540px) {
      font-size: 14px;
      line-height: 20px;
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .footer__number,
  .footer__email {
    color: $footer-text-color;
  }
  
  