body {
  font-family: "roboto";
}
.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 993px) {
    width: 90%;
  }
  @media (max-width: 480px) {
    width: 90%;
  }
}
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: $titles-color;
}
.main-picture {
  width: 100%;
}
