.main-header {
  padding-top: 45px;
  padding-bottom: 51px;
  @media (max-width: 993px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (max-width: 768px) {
    padding-top: 5.208333333333334%;
    padding-bottom: 5.208333333333334%;
  }
}
.main-header__nav {
  @include flexcenter;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  @media (max-width: 993px) {
  }
  @media (max-width: 768px) {
    display: none;
    position: absolute;
    z-index: 1;
    top: 35px;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 0px;
    width: 180px;
    background-color: #f5f5f5;
  }

  &-list {
    text-align: center;
    width: 100%;
    @media (max-width: 768px) {
      text-align: start;
      &:hover {
        background-color: $header-hover-bgc;
      }
    }
  }

  &-link {
    display: block;
    color: $menu-item-color;
    font-size: 11px;
    line-height: 22px;
    width: 100%;
    @media (max-width: 993px) {
      font-size: 1.1077542799597182vw;
      line-height: 2.2155085599194364vw;
    }
    @media (max-width: 768px) {
      font-size: 11px;
      line-height: 22px;
      padding: 2px 0 2px 15px;
    }
  }
}

.main-header__nav--show {
  display: flex;
  top: 35px;
  right: 0;
  &-item {
    width: 100%;
    &:hover {
      background: $header-hover-bgc;
    }
  }
}

.main-header__nav .main-header-nav__link--active {
  color: $active-color;
}

.main-header__burger-btn {
  cursor: pointer;
  display: none;
  background-color: #000;
  width: 45px;
  height: 35px;
  margin-left: auto;
  @media (max-width: 768px) {
    display: block;
  }
}
.main-header__brgrbtnsvg {
  &--hidden {
    display: none;
  }
}
