.inst-shots {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba($color: #000000, $alpha: 0.03);
  @media (max-width: 993px) {
    padding-top: 6.510416666666667%;
    padding-bottom: 6.510416666666667%;
  }
  @media (max-width: 480px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.inst-shots__header {
  display: flex;
  justify-content: space-between;
}
.inst-shots__title {
  @media (max-width: 993px) {
    font-size: 2.083333333333333vw;
    line-height: 2.864583333333333vw;
  }
  @media (max-width: 480px) {
    font-size: 14px;
  }
}
.inst-shots__inst-link {
  font-size: 13px;
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: 993px) {
    font-size: 1.6927083333333333vw;
    line-height: 2.864583333333333vw;
  }
  @media (max-width: 480px) {
    display: none;
  }
}
.inst-shots__list {
  margin-top: 25px;
  // display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  @media (max-width: 993px) {
    margin-top: 3.2552083333333335%;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }
  @media (max-width: 480px) {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    gap: 7px;
  }
}

.inst-shots__item {
  @media (max-width: 993px) {
    &:last-of-type {
      display: none;
    }
  }
  @media (max-width: 480px) {
    &:not(:first-of-type) {
      display: none;
    }
  }
}

.inst-shots__img {
  object-fit: cover;
  width: 100%;
  height: auto;
  @media (max-width: 993px) {
    &:last-of-type {
      display: none;
    }
  }
  @media (max-width: 480px) {
    max-width: 300px;
    &:not(:first-of-type) {
      display: none;
    }
  }
}
