.posts {
  padding-bottom: 70px;
  padding-top: 70px;
  @media (max-width: 993px) {
    padding-bottom: 60px;
    padding-top: 56px;
  }
  @media (max-width: 480px) {
    padding-bottom: 7.875%;
    padding-top: 7.875%;
  }

  &__title {
    margin-bottom: 24px;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}

.posts__list {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  @media (max-width: 993px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 480px) {
  }
}
.posts__post {
  display: flex;
  gap: 20px;
  @media (max-width: 993px) {
    gap: 10px;
  }
  @media (max-width: 480px) {
    flex-direction: column;
    grid-row-gap: 0px;
    &:last-of-type {
      display: none;
    }
  }
}

.posts__wrap {
  // max-width: 64%;
  width: 100%;
}
.posts__img {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
.posts__title-link {
  display: block;
  font-weight: 700;
  line-height: 30px;
  color: $titles-color;
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: 480px) {
    margin-top: 11px;
    font-size: 14px;
  }
}
.posts__comments {
  font-size: 12px;
  line-height: 20px;
  color: $subtitle-color;
  @media (max-width: 480px) {
    font-size: 11px;
  }
}
.posts__text {
  font-size: 14px;
  line-height: 26px;
  color: $text-color;
  @media (max-width: 480px) {
    display: none;
  }
}
