$titles-color: #4e4e4e;
$titles-color-white: #fefefe;


$active-color: #57a4a4;
$header-hover-bgc: #e5e5e5;

$menu-item-color: #4E4E4E;
$subtitle-color: #7C7C7C;
$text-color: #5C5C5C;

$footer-text-color: #B9B9B9;
$footer-bgc: #000000;
