body {  
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.container{
    width: 1028px;
    display: block;
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 15px;
}

.change-theme {
display: block;
margin: 0 auto;
padding: 5px 10px;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    position: relative;
}
.logo-img-2{
    position: absolute;
    top: 0;
    left: 0;
    display: none;   
}

.header-link{
    display: flex;
}

.header-link:hover{
    color: #F26522;
}
.header-link:hover .logo-img-2{
   display: block;
}


.header-left-text{
    margin-left: 8px;
}

.header-left-milan{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.header-left-holidays{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}


.header-right-text p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: end;
}

.header-right-text .header-email{
    margin-bottom: 19px;
}

.header-email-link:hover{
    color: #F26522;
}

.header-number-link:hover{
    color: #F26522;
}


/* Main */
.tours-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(261px, 1fr);
    row-gap: 37px;
    column-gap: 61px;
}

.tour-list-name{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    transition: 1s;
}

.img-wrap{
    position: relative;
    overflow: hidden;
}

.tour-img{
    width: 100%;
    height: 100%;
    border: 3px solid transparent; 
    border-image: linear-gradient(white, black) 100;
    }

.details{
    background: #F26522;
    padding: 7px 15px 12px;
    position: absolute;
    bottom: -70px;
    width: 100%;
    transition: 1s;
}

.details p{
    margin-top: 0;
    margin-bottom: 8px;
}

.details-price{
    display: flex;
    justify-content: space-between;
}

.details-price p{
margin-bottom: 0;
font-size: 20px;
line-height: 20px;
}

.details-price p:last-child{
    font-size: 14px;
    line-height: 14px;
}

.details-price p:last-child::after{
    content: url(../img/vector.svg);
    margin-left: 16px;
    font-size: 20px;   
}

.tour-link:hover .details{
    display: block;
    width: 100%;
    bottom: 0;
}

.tour-link:hover .tour-list-name{
    color: #F26522;
}


/* Footer */

.footer-copyrights{
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color:#FFFFFF;
    margin-top: 49px;
    margin-bottom: 0;
}
