@font-face {
    font-family: "Star Jedi MonoLine";
    src: url("./fonts/Strjmono.woff2");
  }

body, html
{
	  width: 100%;
  	height: 100%;
    background-color: #000;
	  font-family: "Star Jedi MonoLine", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(198, 198, 2);
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    color: #feda4a;
    font-size: 500%;
    font-weight: 400;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }

.title{
    text-transform: uppercase;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;
}

.sub{
    text-align: center;
}

.content p
{
	margin: 0.5em 0;
}

.content
{
    /* width: 6000px; */
    position: relative;
    transform-origin: 50% 100%;
    animation: scroll 30s linear;
    animation-iteration-count: infinite;
    animation-delay: 8s;
    animation-fill-mode: both;
  }


@keyframes scroll {
    0% {
      top: 150vh;
      transform: rotateX(25deg)  translateZ(0);
    }
    100% { 
      top: -4000px;
      transform: rotateX(25deg) translateZ(-1400px);
    }
  }